*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
    background-color: rgb(226, 187, 237);
}
a{
    text-decoration: none;
    color:rgb(244, 238, 238);
    transition: all 0.3s ease;
}
a:hover{
    color: rgb(159, 7, 224);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(159, 7, 224);
}
.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(99, 5, 110);
    padding: 20px
}
.menu{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-direction: row;
}
.logo{
    width: 40%;
    font-size: 40px;
    font-weight: 600;
    color: rgb(246, 236, 233);
}
.footer{
text-align:center;
padding:20px;
background:#480257;
color:white;
}

.social-icons{
display:flex;
justify-content:center;
gap:25px;
margin-top:10px;
}

.social-icons a{
color:white;
font-size:28px;
text-decoration:none;
}

.social-icons a:hover{
color:#d6b3ff;
}